<html>

<head>
    <title>戦後日本の人口変動</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <h1>戦後日本の人口変動（1947年〜2015年）</h1>
    <div>
        <p>
            <select id="op">
                <option value="1" selected>all</option>
                <option value="2">人口と世代別構成</option>
                <option value="3">若年者と高齢者の割合</option>
                <option value="4">若年者の割合</option>
                <option value="5">高齢者の割合</option>
            </select>
        </p>

    </div>
    <img id=plotimg></img>
</body>
<script type="text/javascript" src="/static/project.js"> </script>

</html>
  