<html>

<head>
    <title>戦後日本の人口変動</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <h1>戦後日本の人口変動（1947年〜2015年）</h1>
    <p>
        現在，日本において少子高齢化は深刻な社会問題となっている．労働力人口の減少に伴う経済規模の縮小や，医療費・年金を中心とした社会保証費の給付と負担の不均衡の加速などが懸念されている．少子高齢化に伴うこれらの問題からも分かるように，一般的に人口の増加率及び世代構成と国の経済成長率には相関があると考えられている．昨今経済の長期停滞期に突入している日本だが，戦後日本は高度経済成長期と呼ばれる急速な経済成長を遂げた時期もあった．そこで，戦後から現在に至るまでの日本の人口の変化を，その世代構成の変化も含めて可視化する．
    </p>
    <div>
        <p>
            <select id="op">
                <option value="1" selected>all</option>
                <option value="2">人口と世代別構成</option>
                <option value="3">若年者と高齢者の割合</option>
                <option value="4">若年者の割合</option>
                <option value="5">高齢者の割合</option>
            </select>
        </p>

    </div>
    <img id=plotimg></img>
</body>
<script type="text/javascript" src="/static/project.js"> </script>

</html>
  